@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

h1{
   font-size: 40px;
    padding-top: 20px;
}

.cc-selector input{
    padding:0;
    margin-left:50px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    /*border:none;*/
    border-style:none;
    height:100%;
width:auto;
}

.cc-selector{
    width:1000px;
    height:70px;
    display:flex;
    justify-content: flex-start;
    margin-bottom:20px;
    margin-top:20px;
}
.visa{background-image:url(http://i.imgur.com/lXzJ1eB.png);}
.mastercard{background-image:url(http://i.imgur.com/SJbRQF7.png);}
.paypal{background-image: url(https://imgur.com/xQmiJ4o.png);}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}


.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.flex {
    display: flex;
    justify-content: flex-start;
}
.flex input {
    max-width: 300px;
    flex: 1 1 300px;
}
.flex .currency {
    font-size: 30px;
    padding: 0 10px 0 20px;
    color: #999;
    border: 2px solid #ccc;
    border-right: 0;
    line-height: 2.5;
    border-radius: 7px 0 0 7px;
    background: white;
}

.logo {
    max-width: 240px;
    max-height: 240px;
    margin: 0;
    cursor: pointer;
    float: left;
    z-index: 1;
}
.header{
    width: 100%;
    height: 90px;
    display: flex;
    background-color: #5C8001;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}


/*/////////////////homepage/////////////////////////*/
#homeH1 {
    color: white;
    font-size: 50px;
    width: 650px;
    padding-right:40px;
}

.child1 {
    width: 70%;
}

.child2 {
    width: 30%;
    margin-left: 0%;
}

#home_Box{
    background-color: rgb(91, 127, 1);
    height:700px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    width: 100%;
    /*box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);*/
}

#home_Seperator{
    background-color: rgb(126, 193, 8);
    height:90px;
}

#home_Image{
    height: 300%;
    width: 300%;
    z-index:1;
    border-radius: 15px;
}

#home_Text_div{
    margin-left:20%;
    /*margin-right:60%;*/
    padding-right:20px;
    padding-top: 150px;
    padding-bottom:10%;
    width: 500px;
    text-align: center;

}

#home_Text {
    margin-left:10%;
    padding-right:20px;
    padding-top:10%;
    padding-bottom:10%;
    align-content: center;
    width: 500px;
    font-size: 30px;
}

/*/////////////////homepage/////////////////////////*/

/*/////////////signup///////login////////booking/////////////*/

.form{
    /*text-decoration-style:*/
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 500px; /* Set a fixed width for consistent layout */
}

.box{
    padding-top: 100px;
    padding-bottom: 50px;
    /*background-color: rgb(91, 127, 1);*/
    /*height:700px;*/
    /*display: grid;*/
    text-align: center;
    margin: auto;
    /*grid-template-columns: 1fr 1fr;*/
    /*grid-gap: 0px;*/
    width: 700px;
}

.label {
    text-align: left;
}

.input {
    border: 2px solid black;
    padding-bottom: 10px;
    border-radius: 20px ;
}

#password_confirmation {
    padding-bottom: 20px;
}

#question{
    padding-top: 20px;
    color: blue;
}
.button {

    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    background-color: #5b7f01;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    margin: auto;
}

.login_buttons_div {
    margin: auto;
    padding-bottom: 10px;
}

#second_button {
    padding-left: 20px;
}

/*/////////////signup///////login/////////////////////*/






.title{
    color: #5a7f01;
    font-size: 80px;
}












/*.logintext{*/
/*    font-size:40px;*/

/*}*/

label {
    display: block; /* Ensure label is on its own line */
    font-weight: bold; /* Make the label text bold */
    font-size: 20px; /* Slightly larger font size for labels */
    margin-bottom: 10px;
}


/* Styling for input fields */
input {
    padding: 10px; /* Increased padding for larger input boxes */
    font-size: 16px; /* Increased font size for readability */
    width: 100%; /* Input box fills the width of the form */
    margin-bottom: 20px; /* Space between input boxes */
    border: 1px solid #ccc;
    border-radius: 10px;
}


select{
    padding: 10px; /* Increased padding for larger input boxes */
    font-size: 16px; /* Increased font size for readability */
    width: 100%; /* Input box fills the width of the form */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;/* Space between input boxes */

}





/* Hover effect for the button */
button:hover {
    background-color: #2c5923; /* Slightly darker green on hover */
}



.nav-container {
    display: flex;
    justify-content: flex-end; /* Aligns nav to the right */
    width:100%
}

nav {
    /* Add any additional styling if needed */
    padding-right:2%;
}

nav ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Display items side by side */
    justify-content: flex-end; /* Align the entire list to the right */
}

nav ul li {
    margin-left: 30px; /* Space between nav items */
}

nav ul li a {
    font-size:25px;
    text-decoration: none; /* Optional: remove underline from links */
    color: white; /* Set text color to black or any other color */
}

li a:hover {
    text-decoration: none; /* Optional: underline on hover */
    color:black;
}

.error-message {
    color: red; /* Red text for emphasis */
    font-weight: bold; /* Bold text */
    margin-top: 10px; /* Space above the error message */
}

#sidebar {
    width: 300px; /* Adjust as needed */
    background-color: #486600; /* Background color */
    padding: 10px;
    padding-top: 50px;
    height: 100vh; /* Full height */
    position: fixed; /* Sidebar remains fixed on scroll */
    left: 0; /* Aligns the sidebar to the left */
}


#sidebar ul {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

#sidebar li {
    margin-bottom: 30px; /* Space between nav items */
    border-bottom: 1px solid #ccc; /* Gray line at the bottom of each list item */
}

#sidebar li a {
    font-size: 20px;
    text-decoration: none; /* Removes underline from links */
    color: white; /* Sets text color */
}


.dashContent{
    flex: 1; /* Take the remaining space in the container */
    margin-left: 320px; /* Adjust to ensure it's clear of the sidebar */
    padding: 20px; /* Add padding for comfortable text placement */

}

.grid {
    font-size: 30px;
}

#chart-area{
    width:1000px;
}

#previous{
    margin-left:20px;
}


.signup-button:hover {
    background-color: #4a6b00; /* Darken color on hover */
}